
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #3498db10;
    color: #fff;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    margin-right: 10px;
  }
  
  .navbar-right {
    display: flex;
  }
  
  .nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #2c3e50;
  }
  