.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 5px solid #303030;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 3.5px 3.5px;

  width: 225px;
  height: 250px;

  position: relative;
  overflow: hidden;

  cursor: pointer;
}

.image-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
}

.breed-image {
  width: 100%;
  height: 200px;
}

.sub-breed-title {
  display: flex;
  justify-content: center;
}

.sub-breed-indicator {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 15px;
  color: #0f0;
}

.no-sub-breeds {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  color: #d0d0d0;
}

.sub-breed {
  display: flex;
  position: absolute;
  flex-direction: column;

  margin-top: 20px;
  padding: 10px;

  bottom: 0;

  height: 0;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  font-size: 13 px;
  color: #d0d0d0;

  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.5s ease-in-out 0.1s;
}

.card:hover .sub-breed {
  height: 200px;
  opacity: 1;
  overflow-y: auto;
  visibility: visible;
}

.card:hover .sub-breed ul li {
  list-style-type: none;
}

.sub-breed-item:hover {
  color: #3498db;
  text-decoration: solid underline;
  text-decoration-color: #3498db;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  width: 100%;
  height: 100%;

  font-size: large;

  /* -webkit-text-stroke: 1px rgb(134, 55, 13); */

  color: #bfb6aa;
  background-color: #303030;
}
