.home-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 8fr auto;
  width: 100%;
  min-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: justify;

  width: 100%;
  height: 60px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

  color: #303030;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 60px - 40px - 60px);
}